.card1 {
  display: grid;
  grid-template-columns: 1fr 2.3fr;

  &__left {
    &-img {
      border-radius: 1rem;
      transform: translate(20px, -30px);
    }
  }

  &__right {
    position: relative;
    height: 350px;
    align-self: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 2rem 6rem 2rem 0;
    margin-left: 6rem;

    h2 {
      margin-top: 4rem;
    }

    input {
      display: block;
      border: none;
      border-radius: 2rem;
      width: 90%;
      padding: 0.5rem 1.5rem;
      margin: 1rem auto 0;
      font-size: 20px;
    }

    &--next {
      position: absolute;
      color: $clr-blue-text;
      display: inline-flex;
      align-items: center;
      bottom: 2rem;
      right: 6rem;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .card1 {
    grid-template-columns: 1fr;

    &__left {
      &-img {
        transform: translate(0, 0);
        width: 50%;
        margin: 0 auto;
      }
    }

    &__right {
      position: relative;
      height: 300px;

      h2 {
        margin-top: 1rem;
      }
    }
  }
}
