.cardFirst {
  display: grid;
  grid-template-columns: 1fr 2.3fr;

  &__image {
    border-radius: 1rem;
    transform: translate(20px, -30px);
  }

  &__right {
    position: relative;
    height: 350px;
    align-self: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 2rem 6rem 2rem 0;
    margin-left: 6rem;
  }

  &__next {
    position: absolute;
    color: $clr-blue-text;
    display: inline-flex;
    align-items: center;
    bottom: 2rem;
    right: 6rem;
  }

  &__topics {
    width: 60%;
    margin: 2rem 2rem 0 7rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

.topic__btn {
  text-align: center;
  width: 120px;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  padding: 0.3rem 0;
}

.rightSide {
  &__title {
    margin-top: 2rem;
  }

  &__input {
    width: 90%;
    margin: 1rem auto 0;
  }
}

@media only screen and (max-width: 1200px) {
  .cardFirst {
    grid-template-columns: 1fr;

    &__image {
      transform: translate(0, 0);
      width: 50%;
      margin: 0 auto;
    }

    &__right {
      position: relative;
      height: 300px;
    }

    &__topics {
      margin: 0 auto;
      width: 60%;

      button {
        justify-self: center;
      }
    }
  }

  .rightSide {
    &__title {
      margin-top: 0;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .cardFirst {
    &__image {
      width: 80%;
    }

    &__right {
      height: 350px;
    }

    &__topics {
      width: 60%;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media only screen and (max-width: 650px) {
  .cardFirst {
    &__right {
      height: 500px;
      padding: 2rem;
      margin-left: 0;
    }

    &__topics {
      width: 90%;
      margin-top: 2rem;
    }
  }

  .rightSide__input {
    width: 80%;
  }
}
