.cardMain {
  width: 90%;
  max-width: 1200px;
  min-height: 550px;
  margin: 2rem auto;
  background-color: #f4f7f9;
  border-radius: 2rem;
  padding: 3rem 0;

  &__title {
    font-size: 36px;
  }

  .icon {
    width: 70px;
  }

  .part {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    text-align: start;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 20px -10px rgba($color: #000000, $alpha: 0.6);

    &__title,
    &__text {
      margin-top: 1rem;
    }

    &__setting {
      grid-area: setting;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__pic {
      grid-area: pic;
    }

    &-a {
      grid-area: a;
      height: 110%;
      transform: translateY(-10%);
    }

    &-b {
      grid-area: b;
    }

    &-c {
      grid-area: c;
    }

    &-d {
      grid-area: d;
    }

    &-e {
      grid-area: e;
    }
  }

  .cardGrid {
    position: relative;
    display: grid;
    width: 86%;
    margin: 0 auto;
    padding: 0 1.5rem 2.5rem;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas:
      "a a a a pic pic pic"
      "b b c c d d weather"
      "e e e e e setting weather";
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  margin: 0 auto 40px;

  &__greeting {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__input {
    width: 450px;
    color: $clr-blue-text;
  }

  &__input::placeholder {
    color: $clr-blue-text;
  }

  &__inputContainer {
    position: relative;
  }

  &__btn {
    position: absolute;
    color: #fff;
    width: 50px;
    height: 40px;
    background-color: #fb85f9;
    top: 0;
    right: 0;
    border-bottom-left-radius: 1.7rem;
    border-bottom-right-radius: 1.7rem;
    border-top-right-radius: 1.7rem;
  }
}

@media only screen and (max-width: 1366px) {
  .cardMain {
    .cardGrid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-areas:
        "a a a a a a a a"
        "pic pic pic pic weather weather b b"
        "pic pic pic pic weather weather c c"
        "e e e e e setting c c"
        "e e e e e setting d d";
    }
  }

  .header__input {
    width: 300px;
  }
}

@media only screen and (max-width: 1000px) {
  .cardMain {
    padding: 1rem 0 2rem;

    .cardGrid {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .part {
      &-a {
        height: 100%;
        transform: translateY(0);
      }
    }
  }

  .header {
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center;

    &__btn {
      top: 0;
    }
  }
}

@media only screen and (max-width: 550px) {
  .cardMain {
    &__header {
      text-align: center;

      input {
        width: 100%;
      }
    }
  }
}
