.cardThird {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__next {
    margin-top: 2rem;
    color: $clr-blue-text;
    display: inline-flex;
    align-items: center;
  }
}
