.modal {
  position: absolute;
  top: -5%;
  left: 2%;
  width: 96%;
  height: 90%;
  padding: 2rem;
  transition: all 0.3s linear;
  min-height: 610px;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 10px 10px 30px 0 rgba($color: #2b2b2b, $alpha: 0.5);
  visibility: hidden;
  z-index: -1;

  &__title {
    margin: 1rem 0 2rem;
    font-size: 20px;
  }

  &--open {
    visibility: visible;
    z-index: 10;
  }

  &__closeBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $clr-blue-text;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    margin-bottom: 1rem;
    font-size: 16px;
  }
}

@media only screen and (max-width: 1000px) {
  .modal {
    height: 50%;
  }
}
