$clr-blue-text: #7b85f9;
$clr-black-text: #333;

$clr-tech: #7c8cb1;
$clr-automobiles: #b17c7c;
$clr-science: #88b17c;
$clr-sports: #dbbca3;
$clr-business: #7cb1af;
$clr-movies: #dba3d2;
$clr-travel: #dba3a3;
$clr-fashion: #d2dba3;
$clr-health: #a3a7db;